/* 
    
    vh: Equal to 1% of the height of the viewport's initial containing block.
    vw: Equal to 1% of the width of the viewport's initial containing block.
    
    ref: https://developer.mozilla.org/en-US/docs/Web/CSS/length

    containing block : https://developer.mozilla.org/en-US/docs/Web/CSS/Containing_block
*/
.app-container {
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
}