/*
    app variables

    https://developer.mozilla.org/en-US/docs/Web/CSS/--*

    We want the variables globally available to the application, we'll define them from the :root scope.
*/

:root {
    /* font */
    --main-font: 'Orbitron', sans-serif;
    /* background colors */
    --calculator-background-color: #696969;

    /* calculator dimensions */
    --calculator-height: 72%;
    --calculator-width: 36%;
}

/*
media query for tablet or smaller screen
*/

@media screen and (max-width: 1024px) {
  :root {
    /* calculator dimensions */
    --calculator-height: 100%;
    --calculator-width: 100%;
  }
}

/*
app CSS reset
*/

body, div, p {
    margin: 0;
    padding: 0;
}